@model IEnumerable<WebTraining.Models.data.Album>

@{
    ViewBag.Title = "Index";
    
}

<h2>Album Collection</h2>
@*
<form action ="/Home/Search" method ="get">
    <input type ="text" name ="q" /> 
    <input type ="submit" value ="Search" /> 
</ form >
*@
@using (Html.BeginForm("Search", "Album"))
{
    <input type="text" id="q" name="q" /> 
    <input id="btnSearch" type="submit" value="Search" /> 
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:50%;display: inline;float:left">
    <tr>
        <th>
            <h3 style="color: red">@Html.DisplayNameFor(model => model.Title)</h3>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
             
                @Ajax.ActionLink("Detail AJAX", "DetailAjax", new {id=item.AlbumId},  new AjaxOptions{ UpdateTargetId ="albumDetail", InsertionMode = InsertionMode.Replace, HttpMethod =" GET" })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.AlbumId })*@
            </td>
        </tr>
    }

</table>

<div id="albumDetail" style="width:200px;display:inline;background-color:burlywood;color: blue;">
    Initial text

</div>
<script type="text/javascript">
    $(function () {
        alert("hello");
        $("#btnSearch").bind('click',function() {
            var searchText = $("#q").val();
            alert(searchText);
        }
             
        );
    });
</script>